@import "tailwindcss";
@import 'modern-normalize/modern-normalize.css';

.contact-button-gradation {
    background: linear-gradient(90deg, #8EACE2 0%, #3B63AB 100%);
}
.shadow-top {
    box-shadow: 0 -2px 0 0 black;
}
.marquee-content {
    animation: marquee-rtl 10s linear infinite;
}

.marquee-item {
    padding: 0 1rem;
    font-size: 6vh;
}

@keyframes marquee-rtl {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-33.3%);
    }
}
.helicopter {
    animation: helicopter-animation 5s ease-in-out infinite alternate;
}
@keyframes helicopter-animation {
    0% {
        top: 100px;
    }
    100% {
        top: 250px;
    }
}
.rotate {
    animation: rotation 8s linear infinite;
}
@keyframes rotation {
    0% { 
        transform:rotate(0);
    }
    100% { 
        transform:rotate(-360deg); 
    }
}

.animated-text span {
    display: inline-block;
    opacity: 0;
    animation: appear 0s linear forwards;
}
  
@keyframes appear {
    to {
        opacity: 1;
    }
}

.hover-scale-up {
    transition: 0.1s linear;
}
.hover-scale-up:hover {
    scale: 1.025;
    transition: 0.1s linear;
    opacity: 0.8;
}

.transform-y {
    animation: transform-y 1s steps(1) infinite; 
}
@keyframes transform-y {
    0% { 
        transform:translateY(-2px); 
    }
    50% {
        transform:translateY(2px); 
    }
    100% { 
        transform:translateY(-2px); 
    }
}

.transform-x {
    animation: transform-x 1s steps(1) infinite; 
}
@keyframes transform-x {
    0% { 
        transform:translateX(0); 
    }
    33% {
        transform:translateX(1em); 
    }
    60% {
        transform:translateX(2em); 
    }
    100% { 
        transform:translateX(0); 
    }
}

.throw-icon-in {
    animation: throw-icon-in 3s linear;
}
@keyframes throw-icon-in {
    0% { 
        transform:translateX(60vw); 
    }
    100% { 
        transform:translateX(0); 
    }
}

.throw-icon-out {
    animation: throw-icon-out 3s linear;
    opacity: 0;
}
@keyframes throw-icon-out {
    0% { 
        transform:translateX(0); 
        opacity: 1;
    }
    99% { 
        transform:translateX(-60vw); 
        opacity: 1;
    }
    100% { 
        transform:translateX(-60vw); 
        opacity: 0;
    }
}